body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}
header {
    background: #333;
    padding: 10px;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.product-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 100px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.product-card img {
    width: 70%;
    border-radius: 10px;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    background: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover {
    background: #0056b3;
}
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}
.header{
    font-size: 50px;
}