{% extends 'base.html' %}
{% block title %}contact{% endblock %}
{% block content %}
<!--================Breadcrumb Area =================-->
<!--================Breadcrumb Area =================-->

<!--================Breadcrumb Area =================-->

<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>California, United States</h6>
                        <p>Santa Monica Boulevard</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6><a href="tel:004409865562">00 (440) 9865 562</a></h6>
                        <p>Mon to Fri 9am to 6 pm</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="mailto:support@colorlib.com">support@colorlib.com</a></h6>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <form class="row contact_form"
      action="{{ url_for('contact_submit') }}"
      method="post"
      id="contactForm"
      novalidate="novalidate">

    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter subject">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone number (optional)">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <textarea class="form-control" name="message" id="message" rows="6" placeholder="Enter message" required></textarea>
        </div>
    </div>

    <div class="col-md-12 text-right">
        <button type="submit" class="btn theme_btn button_hover">Send Message</button>
    </div>
</form>

            </div>
        </div>
    </div>
</section>


{% endblock %}
